{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "node": "current"
      }
    }],
    "@babel/preset-typescript"
  ],
  "plugins": [
    "@babel/plugin-proposal-optional-chaining",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-proposal-partial-application",
    "@babel/plugin-proposal-logical-assignment-operators",
    ["@babel/plugin-proposal-pipeline-operator", {
      "proposal": "minimal"
    }]
  ],
  "ignore": [
    "node_modules/**"
  ]
}